<div class="a">
    <div class="a_a">
        <div class="a_a_a">Health care boy</div>
        <div class="a_a_b"></div>
        <button class="a_a_c" (click)="scrollTo(entryForm)">try now</button>
        <div class="a_a_d"></div>
    </div>
    <div class="a_b">
        <landing-item *ngFor="let landing of landingItems; let odd=odd;" [isOdd]="odd" [imageUrl]="landing.image" [text]="landing.text"></landing-item>
    </div>
    <div class="a_c" #entryForm>
        {{entryData | json}}
        <entry-form></entry-form>
    </div>
</div>