<div class="a">
    <input type="text" #specInput class="a_a" [(ngModel)]="searchText" placeholder="Enter specialization" [disabled]="doctorsLoading" />
    <div class="a_b">
        <div class="a_b_a" *ngFor="let spec of specializations | filter : searchText" (click)="specInput.focus(); pickSpecialization(spec)">{{spec}}</div>
    </div>
    <button [disabled]="doctorsLoading" class="a_c" (click)="searchText = '';specInput.focus()">
        <img src="./assets/close.svg" alt="">
    </button>
</div>
