<div class="a">
    <div *ngIf="mapImageUrl" class="a_a" [ngStyle]="{'background-image': 'url('+mapImageUrl+')'}">
        <div class="a_a_a">
            <form-specializations (onSpecPick)="specPicked($event)" [doctorsLoading]="doctorsLoading"></form-specializations>
        </div>
        <div class="a_a_b">
            <div class="suggestionsIntroAnimation" *ngIf="entryData.profession" [class.loading-active]="doctorsLoading">
                Suggestions:
                <loading *ngIf="doctorsLoading"></loading>
                <div *ngIf="!doctorsLoading">
                    <div class="a_a_a_a fadeFromBottom" [ngStyle]="{'animation-delay': idx*0.1+'s'}" *ngFor="let doctor of bestDoctors; let idx = index">
                        <doctor [data]="doctor"></doctor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="a_b" *ngIf="!mapImageUrl">
        Waiting for your location
        <loading style="margin-top: 8px"></loading>
    </div>
</div>